html, body {
    background-image: url("../images/cityhall2.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: luminosity;
}
.winLossRecord {
    padding: 1rem;
    border-top: 1px solid #383737;
    border-bottom: 1px solid #383737;
    background: rgba(0,0,0,.5);
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.winLossRecord span {
    font-size: 2rem;
    padding: 1rem 0;
    color:#e6e6e6f2;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.winDiv, .lossDiv {
    display: inline-block;
    width: 23%;
}
.winDiv {
    margin-left: 27%;
}
.lossDiv {
    text-align: right;
}
h1 {
    text-align: center;
    color:#c00;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 5rem;
    padding: 1rem;
    margin-top: 1rem;
    text-shadow: 0 0 1.5rem black;
    -webkit-animation-name: fontColorChange;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: 100;
    animation-name: fontColorChange;
    animation-duration: 3s;
    animation-iteration-count: 100;
}
.container {
    height: 21rem;
    line-height: 3;
}
.leftCol, .middleCol, .rightCol {
    display: inline-block;
    background: rgba(230,230,230,.95);
    width: 23.3%;
    height: 100%;
    text-align: center;
    color: #c00;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    border-radius: 250px;
    vertical-align: bottom;
}
.leftCol, .rightCol {
    background: rgba(100,100,100,.95);
    color: #fff;
    border: 1px solid grey;
}
.middleCol {
    background: rgba(240,240,240,.95);
    color: #c00;
    border: 5px dotted #c00;
    font-weight: bold;
}
.leftCol {
    margin-left: 15%;
}
.leftCol div:first-child, .rightCol div:first-child, .middleCol div:first-child {
    margin-top: 3rem;
}
#guessesLeft {
    font-size: 8rem;
    line-height: 1.25;
}
#currentMessage, #guessWord, #guessedLetters {
    padding: 1.25rem 1rem;
}
#currentMessage {
    text-shadow: 0 0 50px red;
    padding-bottom: 0;
}
#guessWord {
    padding-top: 0;
    font-size: 75%;
}
#guessedLetters {
    font-weight: bold;
}
.wrapper {
    z-index: 5;
    background: rgba(0,0,0,0.0);
}
/* Header Animation */
@-webkit-keyframes fontColorChange {
    0% {color: rgba(204,0,0,1.0);}
    50% {color: rgba(204,0,0,0.5);}
    100% {color: rgba(204,0,0,1.0);}
    }
@keyframes fontColorChange {
    0% {color: rgba(204,0,0,1.0);}
    50% {color: rgba(204,0,0,0.5);}
    100% {color: rgba(204,0,0,1.0);}
    }
/* Media Queries */
@media (max-width: 1300px) {
    .container {
        line-height: 2;
    }
    .leftCol, .middleCol, .rightCol {
        font-size: 1rem;
    }
}
@media (max-width: 1300px) {
    .leftCol {
        margin-left: 10%;
    }
    .leftCol, .middleCol, .rightCol {
        width: 26.3%;
    }
    #guessWord {
        padding-top: 1.5rem;
    } 
}
@media (max-width: 800px) {
    .leftCol, .middleCol, .rightCol {
        display: block;
        margin: 0 auto;
        width: 75%;
    }
    .yourGuesses {
        padding: .5rem;
    }
    .winDiv, .lossDiv {
        display: block;
        margin: 0 auto;
        width: 30%;
        text-align: center;
        font-size: 75%;
    }
}