html, body {
    background-image: url("../images/cityhall2.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: luminosity;
}
.winLossRecord {
    padding: 1rem;
    /* text-align: center; */
    border-top: 1px solid #383737;
    border-bottom: 1px solid #383737;
    background: rgba(0,0,0,.5);
    margin-top: 1rem;
}
.winLossRecord span {
    font-size: 2rem;
    padding: 1rem 0;
    color:#e6e6e6f2;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.winDiv, .lossDiv {
    display: inline-block;
    width: 23%;
}
.winDiv {
    margin-left: 27%;
}
.lossDiv {
    text-align: right;
}
h1 {
    text-align: center;
    color:#c00;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 5rem;
    padding: 1rem;
    margin-top: 1rem;
    text-shadow: 0 0 1.5rem black;
}
/* button {
    width: 10%;
    height: 9rem;
    margin: 2rem 45% 3rem 45%;
    border: 1px solid red;
    border-radius: 100%;
    background: #eee;
    color: #c00;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    -webkit-animation-name: bgChange;
    -webkit-animation-duration: 6s;
    -webkit-animation-iteration-count: 5;
    animation-name: bgChange;
    animation-duration: 6s;
    animation-iteration-count: 5;
} */
.container {
    height: 21rem;
    line-height: 3;
}
.leftCol, .middleCol, .rightCol {
    display: inline-block;
    background: rgba(230,230,230,.95);
    width: 23.3%;
    height: 100%;
    text-align: center;
    color: #c00;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    border-radius: 250px;
    vertical-align: bottom;
}
.leftCol, .rightCol {
    background: rgba(100,100,100,.95);
    color: #fff;
    border: 1px solid grey;
}
.middleCol {
    background: rgba(240,240,240,.95);
    color: #c00;
    border: 5px dotted #c00;
    font-weight: bold;
}
.leftCol {
    margin-left: 15%;
}
.leftCol div:first-child, .rightCol div:first-child, .middleCol div:first-child {
    margin-top: 3rem;
}
#guessesLeft {
    font-size: 8rem;
    line-height: 1.25;
}
#currentMessage, #guessWord, #guessedLetters {
    padding: 1.25rem 1rem;
}
#currentMessage {
    text-shadow: 0 0 50px red;
    padding-bottom: 0;
}
#guessWord {
    padding-top: 0;
}
#guessedLetters {
    font-weight: bold;
}
audio {
    width: 20%;
    margin: 2.5rem auto 2.5rem 40%;
}
.wrapper {
    z-index: 5;
    background: rgba(0,0,0,0.0);
}
/* Button color change animation */
/* @-webkit-keyframes bgChange {
    0% {background-color:rgba(255,255,255,.9);}
    50% {background-color: rgba(0,0,0,.9);}
    100% {background-color:rgba(255,255,255,.9);}
}
  @keyframes bgChange {
    0% {background-color:rgba(255,255,255,.9);}
    50% {background-color: rgba(0,0,0,.9);}
    100% {background-color:rgba(255,255,255,.9);}  
} */